/* Custom Styles */
.highlight {
  background-color: orange;
  color: black;
}

pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* Custom class for rule component containers and settings code blocks */
.component-bg {
  background-color: #404040;
  color: palegreen;
}

/* Accordion content padding updated */
.accordion-content {
  padding: 1.2rem;
}

/* Table styling for attributes without borders */
table {
  width: 100%;
  font-size: 0.875rem;
  border-collapse: collapse;
  margin-bottom: 0.5rem;
}

table td {
  padding: 0.25rem 0.5rem;
  /* Remove border styling */
}
